.first-aid-option-root {
    width: 100%;
    min-height: 60px;
}

.first-aid-option-inner {
    width: calc(100%); 
    height: calc(100%);

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;

    border-radius: 12px;
    background: var(--medicalblue);

    display: flex;
    flex-direction: row;
    align-items: center;
}

.first-aid-option-header {
    margin: 0;
    margin-left: 20px;
    padding: 0;
    width: 100%;

    color: white;

    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}