.medical-profile-menu-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px 0px;

    overflow-y: auto;
}

.medical-profile-menu-screen-on {
    width: calc(100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-left: 5px;
    padding-right: 5px;

    gap: 0px 10px;
    opacity: 0.5;

    margin-top: 5px;
    margin-bottom: 5px;
}

.medical-profile-menu-screen-on-icon {
    width: 30px;
    height: 30px;
}

.medical-profile-menu-screen-on-text {
    margin: 0;
    padding: 0;

    font-size: 16px;
    font-weight: 300;
    font-style: normal;
}


.medical-profile-menu-box {
    width: calc(100%);
    height: fit-content;

    border: 1px solid var(--medicalblue);
    background: #4e94b515;

    border-radius: 18px;

    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 20px 0;
}

.medical-profile-menu-main-personal {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.medical-profile-menu-main-personal-image {
    display: flex;
    width: 100px;
    max-width: 65px;
    min-width: 65px;
    height: 65px;
    border-radius: 50px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-right: 20px;
}

.medical-profile-menu-main-personal-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* margin-left: 40px; */
}

.medical-profile-menu-info-name {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0px 5px;
}

.medical-profile-menu-info-name-box {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.medical-profile-menu-info-item-name-header {
    margin: 0;
    padding: 0;

    color: var(--subtext);
    opacity: 0.7;

    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.medical-profile-menu-info-item-name-value {
    margin: 0;
    padding: 0;

    font-size: 20px;
    font-weight: 700;
    font-style: normal;
}

.medical-profile-menu-info-item {
    display: flex;
    flex-direction: column;
}

.medical-profile-menu-info-item-header {
    margin: 0;
    padding: 0;

    color: var(--subtext);
    opacity: 0.7;

    font-size: 15px;
    font-weight: 400;
    font-style: normal;
}

.medical-profile-menu-info-item-value {
    margin: 0;
    padding: 0;

    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.medical-profile-menu-box-header {
    margin: 0;
    padding: 0;

    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.medical-profile-menu-row {
    width: calc(100%);
    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.medical-profile-menu-scroll-bottom {
    width: 100px;
    min-height: 100px;
    max-height: 100px;
}

.medical-profile-edit {
    width: 100%;
    min-height: 50px;
    background: var(--medicalblue);
    
    margin: 0;
    margin-top: 20px;
    padding: 0;

    color: white;

    font-size: 16px;
    font-weight: 500;
    font-style: normal;

    border-radius: 12px;
    border: none;
}